<!DOCTYPE html>
  <html lang="en">
  <head> 
      <meta charset="UTF-8">
      
      <title> My Portfolio</title>
      <link rel="stylesheet" href='app.component.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
      </head>
      
      <body>
          <header class="header">
            <div class="logo">
              <img src="/assets/logo.jpg" alt="Portfolio">
          </div> 


          <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
          </nav>
          </header> 
  
              <div class="home">
                  <div class="home-content">
                      <h3> Hello, It's Me</h3>
                      <h2> Pratiksha Chaudhari</h2>
                      
                <p>I am a fresher in the field of software development, with a strong 
                  passion for building  innovative and effective solutions.
                  I have recently completed my studies in Computer Science and am excited to 
                  apply my skills and knowledge in a real-world setting. 
                  With a so foundation in programming languages such as Java,html,css and C++,
                   </p>
                       </div> 
                  </div> 

                  <div id="about">
                    <div class="container">
                      <div class="row">
                        <div class="about-col-1">
                          <div>
                            <img src="assets/image.jpeg">
                          </div>
                        </div>
                        <div class="about-col-2">
                         
                          <h1>About Me</h1>
                         
                          
                          <p>I am a highly motivated and detail-oriented Angular Developer with a strong passion 
                            for building scalable, efficient, and reliable web applications. With a solid foundation 
                            in Angular framework, I possess expertise in designing, developing, and deploying robust 
                            front-end applications using HTML, CSS, JavaScript, and TypeScript. I am proficient in 
                            building reusable UI components, services, and modules, and have experience with state 
                            management using NgRx and Redux. I am well-versed in Angular best practices, including 
                            dependency injection, routing, and security. I am excited to leverage my skills and 
                            knowledge to build innovative solutions that meet the needs of businesses and individuals 
                            alike.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
    

                  <div class="services" id="services">
                    <div class="container">
                      <h1 class="sub-title">My <span>Services</span></h1>
                      <div class="services-list">
                        <div>
                          <i class='bx bx-crop' ></i>
                          <h2>UI/UX Design</h2>
                          <p>UI/UX Design is a process that is undertaken to create interactive and user-friendly digital products for users. UI (User Interface) design involves designing the appearance and layout of a product, while UX (User Experience) design focuses on improving the product's functionality and user experience.</p>
                          
                        </div>
                        <div>
                         
                          <i class="fa fa-file-code-o"></i>
                          <h2>Web Development</h2>
                          <p>Web development is the process of building and maintaining websites, web applications, and mobile applications. It involves using programming languages, frameworks, and tools to create a website or application that is visually appealing, functional, and user-friendly.</p>
                         
                        </div>
                      </div>
                    </div>
                  </div>  


                  <div id="skills">
                  <div class="Main">
  <div class="row">
   
    <div class="left-section">
      <h1>Technical Skills</h1>
      <div class="technical-bars">
       
        <div class="bar html">
          <i class='bx bxl-html5' style='color:#ad3030'></i>
          <div class="info">
            <span>HTML</span>
          </div>
          <div class="progress-line"><span data-percent="90%"></span></div>
        </div>
        <div class="bar css">
          <i class='bx bxl-css3' style='color:#54c108'></i>
          <div class="info">
            <span>CSS</span>
          </div>
          <div class="progress-line"><span data-percent="85%"></span></div>
        </div>
        <div class="bar java">
          <i class='bx bxl-javascript' style='color:#da1791'></i>
          <div class="info">
            <span>JavaScript</span>
          </div>
          <div class="progress-line"><span data-percent="85%"></span></div>
        </div>
        <div class="bar angular">
          <i class='bx bxl-angular' style='color:#6f0011'></i>
          <div class="info">
            <span>Angular</span>
          </div>
          <div class="progress-line"><span data-percent="80%"></span></div>
        </div>
        <div class="bar reactjs">
          <i class='bx bxl-react' style='color:#0b87bb'></i>
          <div class="info">
            <span>React.js</span>
          </div>
          <div class="progress-line"><span data-percent="75%"></span></div>
        </div>
      </div>
      
    </div>

    <!-- Right Section (Professional Skills) -->
    <div class="right-section">
      <h1>Professional Skills</h1>
      <div class="radial-bars-container">
       
        <div class="radial-bar">
          <svg>
            <circle class="path" cx="50%" cy="50%" r="45" />
            <circle class="progress-bar path-1" cx="50%" cy="50%" r="45" />
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Communication</div>
        </div>
        <div class="radial-bar">
          <svg>
            <circle class="path" cx="50%" cy="50%" r="45" />
            <circle class="progress-bar path-2" cx="50%" cy="50%" r="45" />
          </svg>
          <div class="percentage">80%</div>
          <div class="text">Teamwork</div>
        </div>
        <div class="radial-bar">
          <svg>
            <circle class="path" cx="50%" cy="50%" r="45" />
            <circle class="progress-bar path-3" cx="50%" cy="50%" r="45" />
          </svg>
          <div class="percentage">85%</div>
          <div class="text">Problem-Solving</div>
        </div>
        <div class="radial-bar">
          <svg>
            <circle class="path" cx="50%" cy="50%" r="45" />
            <circle class="progress-bar path-4" cx="50%" cy="50%" r="45" />
          </svg>
          <div class="percentage">75%</div>
          <div class="text">Leadership</div>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>

         
            
<div id="portfolio">
                <div class="main.text" id="project">
                
                <div> <h1>Latest Project</h1> </div>
                  

                <div class="Portfolio-content">
                  <div class="row">
                    <div class="project-box">
                      <img src="assets/Mapp.jpeg" alt="Project Image">
                      <div class="project-text">
                        <h2>Mobile App Development</h2>
                        <p>Mobile App Development is the process of creating software applications that run on mobile devices such as smartphones and tablets. With the increasing demand for mobile apps, businesses and individuals are looking for innovative and effective solutions to reach their target audience. Our mobile app development services include designing, developing, testing, and deploying mobile apps for both iOS and Android platforms. We use the latest technologies and frameworks such as React Native, Flutter, and Xamarin to create high-performance, scalable, and secure mobile apps that meet our clients' needs and expectations.</p>
                        <a href="#"><i class='bx bx-link-external' style='color:#040404' ></i></a>
                      </div>
                    </div>
                    <div class="project-box">
                      <img src="assets/IOT2.jpeg" alt="Project Image">
                      <div class="project-text">
                        <h2>IoT-based Home Automation</h2>
                        <p>Yeh raha ek sample paragraph about IoT-based Home Automation Project:

                          "IoT-based Home Automation Project is a cutting-edge solution that enables users to control and monitor their home appliances remotely using smartphones, tablets, or voice assistants. This project leverages Internet of Things (IoT) technology to integrate sensors, actuators, and microcontrollers, creating a seamless and automated home experience. With features like voice control, scheduling, and energy monitoring, this project aims to enhance convenience, energy efficiency, and home security. Our IoT-based Home Automation Project is designed to be scalable, secure, and user-friendly, making it an ideal solution for modern smart homes.</p>
                        <a href="#"><i class='bx bx-link-external' style='color:#040404' ></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                      



                <section id="contact">
                  <h2>Contact Me</h2>
                  <div class="contact-info">
                      

                    <p>
                      <strong>Email:</strong>
                      <a href="chaudharipratiksha373@gmail.com">chaudharipratiksha373@gmail.com</a>
                    </p>
                    <p>
                      <strong>Phone:</strong>
                      <a href="tel:+91-9322443420">9322443420</a>
                    </p>
                    <p>
                      <strong>LinkedIn:</strong>
                      
                      <a href="https://www.linkedin.com/in/pratiksha-chaudhari-653750272" target="_blank">https://www.linkedin.com/in/pratiksha-chaudhari-653750272</a>
                    </p>
                  </div> 

                  
                   
                  <form>
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    <textarea name="message" placeholder="Message"></textarea>
                    <button type="submit">Send Message</button>
                  </form>
                </section>
  </body>
  </html>